body {
  margin: 0;
  background: #ffffff;
  color: #444;
}

header {
  background: #45515e;
  min-height: 340px;
  position: relative;
}

.navegador {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}

nav {
  display: flex;
  gap: 20px;
}

nav a.home {
  background: #3b4a59;
  box-shadow: inset 1px 1px 5px black,
  0.5px 0.5px 3px rgb(177, 177, 177);         
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px 18px;
  border-radius: 20px;
}

.div_celular {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8%;
  min-height: 340px;
}

.celular-img {
  width: 320px;
  margin-right: 40px;
}

.text_cel {
  color: #fff;
  max-width: 540px;
  margin-bottom: 50px;
}

.text_cel h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
.text_cel p {
  font-size: 1.1rem;
}

.text_cel{
  color: rgb(255, 255, 255);
}

.textico{
  color: rgb(136, 136, 136);
}

.div_compu {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.div_compu .texto_chi {
  display: flex;
  background: #3fa9f5;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: inset 0 1px 2px #c1e4fd, 0 10px 10px rgb(58, 58, 58);
  color: #fff;
  padding: 12px 42px;
  width: 200px;
  font-size: 18px;
  text-decoration: none;
}

.div_compu .compu {
  background: none;
  color: #fff;
  width: 170px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  gap: 13px;
  height: 23px;
}

.empresas {
  background: #e6e6e6;
  padding: 28px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 1px 1px 5px rgb(189, 189, 189);
  gap: 60px;
  border-bottom: 2px solid #c4c4c4;
}

.empresas img {
  height: 38px;
}

.servicios {
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.servicio {
  text-align: center;
  max-width: 300px;
}

.servicio h3 {
  font-size: 24px;
  font-weight: lighter;
  font-family: arial;
  color: #5d6d7e;
}

.servicio p {
  font-size: 20px;
  color: #888;
  margin-bottom: 18px;
}
.servicio img{
  margin-bottom: 20px;
}

.servicio button {
  background: #5181c9;
  border: 1px solid #486ea8;
  box-shadow: inset 0 1px 5px white,
  inset 5px 5px 50px #406499;
  color: #e9e9e9;
  border-radius: 5px;
  padding: 20px 44px;
  font-size: 20px;
  font-weight: bold;
}

.imagenes {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.imagenes h2 {
  color: #7ac943;
  justify-content: start;
  font-size: 19px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.imagenes_1 h2{
  gap: 10px;
  font-size: 20px;
}

.imagenes_galeria {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.imagenes_galeria img {
  width: 200px;
  height: 150px;
  padding: 5px;
  box-shadow: 1px 1px 4px black;
  background: #ffffff;
}

.contenedor_blog {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 0 8% 0 8%;
  margin-bottom: 30px;
}

.blog {
  background: #ffffff;
  border-radius: 8px;
  min-width: 260px;
}
.blog_posterior_detalle {
  font-size: 15px;
  display: flex;
  gap: 20px;
}

.blog_posterior_detalle span {
  color: #aaa;
  font-size: 0.85rem;
  margin-top: 4px;
}

.imagen_wi img{
  margin-right: 10px;
}

.text_debajo a{
  text-decoration: none;
  color: #3fa9f5;
}

.Older_entries a{
  text-decoration: none;
  color: #3fa9f5;
}
.twitter span{
  color: rgb(110, 110, 110);
  font-weight: bold;
}
.twitter {
  background: #fff;
  border-radius: 8px;
  padding: 24px 24px 18px 24px;
  min-width: 260px;
}
.blog h3 {
  font-size: 1.1rem;
  margin-bottom: 18px;
  color: #5d6d7e;
  
}
.blog_posterior {
  display: flex;
  gap: 14px;
  margin-bottom: 18px;
}

.blog_posterior img {
  box-shadow: 2px 2px 5px 5px rgb(185, 185, 185);
  width: 200px;
  height: 150px;
  padding: 5px;
  object-fit: cover;
  background: #ffffff;
}

.twitter h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 18px;
  color: #5d6d7e;
  font-weight: 500;
}

.twitter p {
  font-size: 15px;
  color: #888;
  margin-bottom: 10px;
}

.twitter a {
  color: #3fa9f5;
  text-decoration: none;
}

footer {
  background: #fff;
  text-align: left;
  color: #bbb;
  font-size: 15px;
  padding: 20px;
  border-top: 1px solid #eaeaea;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h1{
  font-size: 15px;
}
.redes img {
  width: 34px;
}

footer .redes {
  margin-top: 0;
}

.redes {
  margin-top: 15px;
}
